<nav class="navbar navbar-expand-lg zelda-navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio" aria-label="Inicio de Hyrule Cards">
      <span class="brand-mark">HC</span>
      <span>Hyrule Cards</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/zelda">Todo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/creatures">Criaturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/equipment">Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/materials">Materiales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/monsters">Monstruos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/treasure">Tesoros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
